<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DBSync.Properties.Settings.ServerpersonalhrConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=personalhr;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DBSync.Properties.Settings.ServerdrcardriveConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=drcardrive;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DBSync.Properties.Settings.ClientpersonalhrConnectionString"
      connectionString="Data Source=E:\PHR\PHRSystem\PHRSystem\bin\Debug\personalhr.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="DBSync.Properties.Settings.ClientdrcardriveConnectionString"
      connectionString="Data Source=E:\DrCarRoute\DrCarDrive\DrCarDrive\bin\Release\drcardrive.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <appSettings>
    <add key="ServerHost" value="153.120.61.151"/>
    <add key="ServerPort" value="1433"/>
    <add key="ServerUsername" value="syncuser"/>
    <add key="ServerPassword" value="mB7NpS3K"/>
    <add key="PHRDbPath" value="D:\C# Projects\PHRSystem\PHRSystem\bin\Release\personalhr.sdf"/>
    <add key="DCDRDbPath" value="D:\C# Projects\DRCar\DrCarDrive\bin\Release\drcardrive.sdf"/>
    <add key="ValidPHRDb" value="false"/>
    <add key="ValidDCDRDb" value="false"/>  
  </appSettings>
</configuration>