<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DBSync.Properties.Settings.ServerpersonalhrConnectionString"
      connectionString="Data Source=153.120.61.151\SQLEXPRESS;Initial Catalog=personalhr;User ID=syncuser;Password=mB7NpS3K"
      providerName="System.Data.SqlClient" />
    <add name="DBSync.Properties.Settings.ServerdrcardriveConnectionString"
      connectionString="Data Source=153.120.61.151\SQLEXPRESS;Initial Catalog=drcardrive;User ID=syncuser;Password=mB7NpS3K"
      providerName="System.Data.SqlClient" />
    <add name="DBSync.Properties.Settings.ClientpersonalhrConnectionString"
      connectionString="Data Source=&quot;D:\files\dbsyncexe (2)\dbsyncexe\personalhr.sdf&quot;"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="DBSync.Properties.Settings.ClientdrcardriveConnectionString"
      connectionString="Data Source=&quot;D:\files\dbsyncexe (2)\dbsyncexe\drcardrive.sdf&quot;"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <appSettings>
    <add key="ServerHost" value="153.120.61.151" />
    <add key="ServerPort" value="0" />
    <add key="ServerUsername" value="syncuser" />
    <add key="ServerPassword" value="mB7NpS3K" />
    <add key="PHRDbPath" value="D:\files\dbsyncexe (2)\dbsyncexe\personalhr.sdf" />
    <add key="DCDRDbPath" value="D:\files\dbsyncexe (2)\dbsyncexe\drcardrive.sdf" />
    <add key="ValidPHRDb" value="True" />
    <add key="ValidDCDRDb" value="True" />
  </appSettings>
</configuration>